aiogram>=3.17.0
fastapi>=0.109.0
uvicorn>=0.27.0
pydantic-settings>=2.1.0
pydantic>=2.5.3
sqlmodel>=0.0.14
asyncpg>=0.29.0
aiosqlite>=0.19.0
alembic>=1.13.1
python-dotenv>=1.0.0
requests>=2.31.0
APScheduler>=3.10.4
loguru>=0.7.2
tonsdk>=1.0.14
